@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #222;
    font-family: 'Kaushan Script', cursive;
    position: relative;
}

h1 {
    color: #fff;
    font-size: 80px;
    font-weight: 400;
    margin: 0;
}

#nameX {
    position: absolute;
    top: 40%;
    text-align: center;
/*    transform: translate(-50%, -50%);*/
    width:100%;
    -webkit-animation-name: logo!important;
    animation-name: logo!important;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


@-webkit-keyframes logo{
    0% {
        -ms-transform: scale(.5, .5); /* IE 9 */
        -webkit-transform: scale(.5, .5); /* Safari */
        transform: scale(.5, .5);
    }
    50% {
        -ms-transform: scale(1, 1); /* IE 9 */
        -webkit-transform: scale(1, 1); /* Safari */
        transform: scale(1, 1);
    }
    100% {
        -ms-transform: scale(.5, .5); /* IE 9 */
        -webkit-transform: scale(.5, .5); /* Safari */
        transform: scale(.5, .5);
    }
}

@keyframes logo{
    0% {
        -ms-transform: scale(.5, .5); /* IE 9 */
        -webkit-transform: scale(.5, .5); /* Safari */
        transform: scale(.5, .5);
    }
    50% {
        -ms-transform: scale(1, 1); /* IE 9 */
        -webkit-transform: scale(1, 1); /* Safari */
        transform: scale(1, 1);
    }
    100% {
        -ms-transform: scale(.5, .5); /* IE 9 */
        -webkit-transform: scale(.5, .5); /* Safari */
        transform: scale(.5, .5);
    }
}
